# Core
python-dotenv
phi
groq

# Tools
yfinance
duckduckgo-search
bs4
pypdf
chromadb
arxiv
sentence_transformers

# Playground / serving
uvicorn
fastapi
sse_starlette
streamlit
langserve

# LangChain
langchain_core
langchain_community
langchain_ollama
langchain_openai
langchain-groq
langchainhub

# PDF / Vector
pdfplumber
faiss-cpu
